USE [master]
GO
/****** Object:  Database [SSIDemoStore]    Script Date: 12/6/2021 8:30:31 PM ******/
CREATE DATABASE [SSIDemoStore]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SSIDemoStore', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\SSIDemoStore.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SSIDemoStore_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\SSIDemoStore_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SSIDemoStore].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SSIDemoStore]
GO
/****** Object:  Table [dbo].[Customerinfo]    Script Date: 12/6/2021 8:30:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customerinfo](
	[Custid] [varchar](50) NULL,
	[Name] [varchar](50) NULL,
	[ShortName] [varchar](50) NULL
) ON [PRIMARY]
GO
USE [master]
GO
