USE [master]
GO
/****** Object:  Database [SSISdemo]    Script Date: 12/6/2021 8:29:41 PM ******/
CREATE DATABASE [SSISdemo]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SSISdemo', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\SSISdemo.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SSISdemo_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\SSISdemo_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SSISdemo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SSISdemo]
GO
/****** Object:  Table [dbo].[Customerinfo]    Script Date: 12/6/2021 8:29:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customerinfo](
	[Custid] [varchar](50) NULL,
	[Name] [varchar](50) NULL,
	[ShortName] [varchar](50) NULL
) ON [PRIMARY]
GO
USE [master]
GO
